<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <!-- log çıktılarını hem  konsola hem de logs/mylogfile dosyasına yazdırıyoruz... -->

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="logs/mylogfile.log">

            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>

            <!-- DOSYAYA YAZDIRMAK İÇİN BİR ALT SATIRI AÇABİLİRİZ...-->
            <!-- <AppenderRef ref="File"/>  -->

        </Root>
    </Loggers>
</Configuration>